

<!DOCTYPE html>
<html>
    <!-- header -->
   <head>
      <title>HTML Validation Service</title>
      <%= stylesheet_link_tag "style.css" %>  
      <%= javascript_include_tag "application.js" %>  
   </head>
   <!-- header -->
   <body>
      <div id="banner">
         <h1 id="title">
            <!--<img alt="W3C" id="logo" src="/images/cognizant.jpg" height="61" width="110" style ="margin-top:10px;margin-left:10px;"> -->
	    <%= image_tag("CI_logo.png", :style =>"margin-top:10px;margin-left:10px;")%>
            <span>Markup Validation Service</span>
         </h1>
         <p id="tagline" style = "padding-left:105px;">Check the markup (HTML) of Web documents</p>
      </div>
      <div id="frontforms">
         <ul id="tabset_tabs">
            <li class=<%=(params[:action].eql?("index") ? "selected" : "")%>><a href="/validator/index"><span>Validate by</span> URI</a></li>
            <li class=<%=(params[:action].eql?("validate_files") ? "selected": "")%>><a href="/validator/validate_files"><span>Validate by</span> File Upload</a></li>
            <!-- <li class="selected"><a href="#validate_by_uri"><span>Validate by</span> URI</a></li> -->
         </ul>
    <%=yield%>
      </div>
      <!-- frontforms -->
      <!-- footer -->
    <div id="footer" style ="margin-top:250px;" >
      <p><span style ="padding-left:450px">Powered by </span><%= image_tag("CI_logo.png", :style => "vertical-align:middle") %><%= image_tag("ror-logo.png", :style => "vertical-align:middle;width:86px;height:53px;") %></p>
      <p style="margin-left:400px;">
        Copyright @   2013 Cognizant Technology Solutions
      </p>
    </div>
    <!-- footer -->      
   </body>
</html>
